$papalapapiricoipi: #1f1f1f;
$lalala: #ffffff;
$color-rojo: #ba1414;
$color-rosadito: #dd4a4a;
$icon-face: #2a65a1;
$icon-twitt: #4bb7d9;
$icon-ggl: #ca4638;
$icon-gmail: #ffbf00;
$icon-rss: #ff8000;
$color-grisclaro: #768696; 
$futbol: #394757;
$bgr-tema: #e4e7ea;
$bgr-gente: #f2f2f2;
$lululu: #333333;
$pickle: #ffea53;
$pinpon: #d62247;
$aceituna: #d12570;
$rojo-oscuro: #941010;
$bgr-publicidad: #f4f5f7;
$color-gris: #e2e2e2;
$jonsnow: #872f85;
$ranita: #768696;